# Control Structures

## 1. Taking User Input

In [1]:
# input() => It always returns a string data type

In [3]:
score = input("enter the current score: ")

enter the current score: hj

In [4]:
print(score)

hj

In [4]:
type(score)

str

# 1.1 Conditional statements
# if, if-else, if-elif-else

In [1]:
number = input("enter the number: ")
number = int(number)
print(number, type(number))

enter the number: 25
25 <class 'int'>

In [4]:
number = int(input("enter the number: "))
print(number, type(number))

enter the number: -9
-9 <class 'int'>

In [2]:
number = 10
if (number > 0):
    print('hello')
    # Syntax is if(condition)":" use indentation move to else
    print("the number entered is positive")
else:
    print("number is negative")
print('end')

hello
the number entered is positive

In [3]:
number = int(input("enter a number"))
if (number > 0):
    print("number is positive")
elif(number == 0):
    print(" u have entered a zero")
else:
    print("number is negative")

enter a number100
number is positive

In [7]:
a = int(input('enter any value'))

enter any value-4

In [8]:
type(a)

int

In [14]:

salary = 30000
if (salary<=30000):
    print('tax is 0%')
elif (30000<salary<=50000):
    print('tax is 5%')
elif (50000<salary<=100000):
    print('tax is 10%')
else:
    print('tax is 20%')

print('end')

tax is 0%
end

In [7]:
a=2

In [1]:
def cal_tax(i):

    if (i<=30000):
        tax = 'tax is 0%'
    elif (30000<i<=50000):
        tax ='tax is 5%'
    elif (50000<i<=100000):
        tax='tax is 10%'
    else:
        tax='tax is 20%'
    return tax

In [2]:
salary = [30000,20000,55000, 750000,1000000, 30000,20000,55000, 750000,1000000, 30000,20000,55000, 750000,1000000]
tax = []
for i in salary:
    if (i<=30000):
        tax.append('tax is 0%')
    elif (30000<i<=50000):
        tax.append('tax is 5%')
    elif (50000<i<=100000):
        tax.append('tax is 10%')
    else:
        tax.append('tax is 20%')

print('end')

end

In [11]:
a =[]
a.append(2)
a

[2]

In [12]:
a.append(3)
a

[2, 3]

In [9]:
tax_new=[]
for i in salary:
    t = cal_tax(i)
    tax_new.append(t)

In [10]:
len(tax_new)

45

In [63]:
def print_name(x):
    if type(x)!=str:
        print('only str allowed!')
    else:
        print('your name is', x)

In [64]:
a = 'neha'
print_name(a)

your name is neha

In [59]:
x='neha'
type(x)!= 'str'

True

In [56]:
type(x)

str

In [52]:
'neha'.isalpha()

True

In [5]:
a =[]

In [8]:
user = input('enter name')
a.append(user)

enter namereena

In [9]:
a

['neha', 'reena']

In [16]:
i = 0
j = 0
for i in range(1,11):#First Loop to input the Table 
    print("Starting Generating Table, for:",i) 
    for j in range(1,11): #Second Loop to take the Multiplicants
        #print("%d X %d ="%(i,j),(i*j))
        print(i, "X", j,"=",i*j)

Starting Generating Table, for: 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Starting Generating Table, for: 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
Starting Generating Table, for: 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
Starting Generating Table, for: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
Starting Generating Table, for: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
Starting Generating Table, for: 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
Starting Generating Table, for: 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
Starting Generating Table, for: 8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
Starting Generating Table, for: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
Starting Generating Table, for: 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [12]:
for i in range(1,11):#First Loop to input the Table 
    print("value i",i) 
    for j in range(1,11): #Second Loop to take the Multiplicants
        print("value j:",j)

value i 1
value j: 1
value j: 2
value j: 3
value j: 4
value j: 5
value j: 6
value j: 7
value j: 8
value j: 9
value j: 10
value i 2
value j: 1
value j: 2
value j: 3
value j: 4
value j: 5
value j: 6
value j: 7
value j: 8
value j: 9
value j: 10
value i 3
value j: 1
value j: 2
value j: 3
value j: 4
value j: 5
value j: 6
value j: 7
value j: 8
value j: 9
value j: 10
value i 4
value j: 1
value j: 2
value j: 3
value j: 4
value j: 5
value j: 6
value j: 7
value j: 8
value j: 9
value j: 10
value i 5
value j: 1
value j: 2
value j: 3
value j: 4
value j: 5
value j: 6
value j: 7
value j: 8
value j: 9
value j: 10
value i 6
value j: 1
value j: 2
value j: 3
value j: 4
value j: 5
value j: 6
value j: 7
value j: 8
value j: 9
value j: 10
value i 7
value j: 1
value j: 2
value j: 3
value j: 4
value j: 5
value j: 6
value j: 7
value j: 8
value j: 9
value j: 10
value i 8
value j: 1
value j: 2
value j: 3
value j: 4
value j: 5
value j: 6
value j: 7
value j: 8
value j: 9
value j: 10
value i 9
value j: 1
value j: 2
value j: 3
value j: 4
value j: 5
value j: 6
value j: 7
value j: 8
value j: 9
value j: 10
value i 10
value j: 1
value j: 2
value j: 3
value j: 4
value j: 5
value j: 6
value j: 7
value j: 8
value j: 9
value j: 10

In [13]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
len(salary)

15

In [19]:
salary = [30000,20000,3000, 500000,1000000]
for x in salary:
    print(x)

30000
20000
3000
500000
1000000

## While

In [3]:
x = 1
n = 10
while (x <= n):
    print(x)
    x+=1 # x=x+1

1
2
3
4
5
6
7
8
9
10

# Iterating through a range

In [15]:
r = range(10,51,5)

In [15]:
a = [1,2,3]
for i in a:
    print(i)

1
2
3

In [16]:
for i in r:
    print(i)

10
15
20
25
30
35
40
45
50

In [19]:
lis = [1,2,5,6,8]

In [21]:
for item in lis:
    x = item**2
    print(x)

1
4
25
36
64

In [22]:
websites = ["amazon", "flipkart", "snapdeal"]

In [34]:
new_webs = []
for sites in websites:
    #print("www."+sites+".com")
    new_webs.append("www."+sites+".com")

In [35]:
new_webs

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com']

In [27]:
new_webs.append("www.myntra.com")

In [28]:
new_webs

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com', 'www.myntra.com']

## Iteration through dict

In [36]:
vk = {"name":"Virat", "Age":33, "Team": "RCB"}

In [37]:
vk.keys()

dict_keys(['name', 'Age', 'Team'])

In [38]:
vk.values()

dict_values(['Virat', 33, 'RCB'])

In [39]:
for i in vk:
    print(i)

name
Age
Team

In [40]:
for i in vk.values():
    print(i)

Virat
33
RCB

In [41]:
for i in vk.items():
    print(i)

('name', 'Virat')
('Age', 33)
('Team', 'RCB')

## Break

In [44]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [3]:
## Continue
for i in range(1,11):
    if i%2 != 0:
        continue
    print(i)

2
4
6
8
10

In [2]:
7%2

1

In [53]:
for i in range(1,11):

SyntaxError: unexpected EOF while parsing (<ipython-input-53-43b42b362104>, line 1)

In [54]:
for i in range(1,11):
    pass

# Exercise 1

In [55]:
# Take input from the user and print the reverse of a input
# Input: 123
# Output: 321

In [1]:
number = input("enter a input: ")
print("Reverse: ", number[::-1])

enter a input: 456
Reverse:  654

In [2]:
i = 123
print(321)

321

In [3]:
s = "WELCOME"

In [6]:
s[::-2]

'EOLW'

In [7]:
# Write a program to get sum of all elements in a list (dont use inbuilt functions)
# input = [1,3,5,1]
# Output = 10

In [8]:
num = [1,3,5,1]
res = 0
for i in num:
    res = res+i
print("sum of list:", res)

sum of list: 10

In [9]:
sum(num)

10

In [39]:
for letter in 'Python': 
    if (letter=='t'): 
        continue
        print('hello')
    elif(letter == 'o'):
        break
        print('negative error')
        print('This is pass block') 
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : h

In [ ]:
import sys
sys.exit

In [38]:
for letter in 'Python': 
    print(letter)

P
y
t
h
o
n

In [ ]:
[1,3,5,7]

In [24]:
a = 2

In [27]:
a==3

False

In [29]:
 a= None