<a href="https://colab.research.google.com/github/yamini0984/Data_Science_python/blob/main/on_time_complexity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

efficiency in writing program

Based on Time and space

A program take time to execute
eg. google search gives information about pages and times within few seconds

so need to write efficiency algorithms, pagerank algorithm for google

companies brings lite app versions for efficiency

A program takes space to execute

techniques to measure time efficiency

1. Measuring time to execute
2. counting operations involved
3. abstract notion of order of growth

In [3]:
number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)

enter the number345
345

In [4]:
L = [1,2,3,4]

sum = 0
for i in L:
  sum = sum + i

product = 1
for i in L:
  product = product*i

print(sum,product)

10 24

In [ ]:
A = [1,2,3,4]
B = [5,6,7,8]
for i in A:
  for j in B:
    print(i,j)

In [ ]:
A = [1,2,3,4]
B = [5,6,7,8]

for i in A:
  for j in B:
    for k in range(1000000):
      print(i,j)

In [ ]:
L = [1,2,3,4,5]

for i in range(0,len(L)//2):
  other = len(L) - i -1
  temp = L[i]
  L[i] = L[other]
  L[other] = temp

print(L)

In [ ]:
n = 10
k = 0;
for i in range(n//2,n):
  for j in range(2,n,pow(2,j)):
        k = k + n / 2;

print(k)

In [ ]:
a = 10
b = 3

if b <= 0:
  print(-1)
div = a//b

print(a-div-b)

In [ ]:
n = 345

sum = 0
while n>0:
  sum = sum + n%10
  n = n // 10

print(sum)

In [ ]:
def fib(n):
  if n == 1 or n == 0:
    return 1
  else:
    return fib(n-1) + fib(n-2)

# Subset Algo

In [ ]:
     {3T(n-1) if n>0
T(n) = {1, otherwise

In [ ]:
    {2T(n-1)-1 if n>0
T(n) = {1, otherwise